.profile-form-data {
background-color: white;
height: 30px;
padding: 4px 11px;
border-radius: 2px;
font-weight: normal;
}

.profile-edit-button {
    background:'black';
    border-color: black;
    color:'white'
}